/* Configurações globais */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');



* {
    box-sizing: border-box;
}

body {
    background-color: blue;
}

/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

/* Classes globais */

.conteiner {
    width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
}

/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/
/* Menu navegação */

header {
    height: 150px;
    background-color: #FFF;
}

#menu-logo{
    width: 15%;
    height: 120px;
    align-items: center;
}

#menu-nav{
    width: 65%;
    height: 120px;
}

#menu-botao{
    width: 20%;
    height: 120px;
    align-items: center;
    justify-content: end;
}

#menu-nav {
    align-items: center;
    justify-content: center;
}

#menu-nav a {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
}

#menu-nav a:hover {
    color: #8CC63F;
}

#menu-nav a.selecionado {
    color: #8CC63F;
}

#menu-botao button {
    width: 145px;
    height: 45px;
    background-color: #8CC63F;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #FFF;
} 

/*-----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/
/* SECTION FORMULÁRIO */

#section-form {
    /*background-image: url('/assets/images/frutas.jpg');
    background-repeat: no-repeat;
    background-position: center;*/
    height: 835px;
    background: #8CC63F url('/assets/images/frutas.jpg') no-repeat center;
    background-size: cover;
}

#form-ambos {
    justify-content: center; /* eixo horizontal (x) = main axis*/
    align-items: center; /* eixo vertical (y) cross axis*/
}


#section-form-left {
    width: 725px;
    height: 735px;
}

#section-form--texto {
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    color: #FFF;
    font-weight: bold;
    width: 705px;
    height: 585px;
}


#botao-play {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #8CC63F;

}

#section-form-right {
    width: 405px;
    height: 440px;
    background-color: aqua;
}

#h2-form {
    background-color: #8CC63F;
    height: 200;
}

#form-inputs {
    flex-direction: column;
}

.tamanho-input {
    width: 335px;
    height: 38px;
}